# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
*.db

# Node
node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db

# Env
.env.docker
.env.local
.env.example

# Docs
ARCHITECTURE.md

# Docker
docker-compose.override.yml
